header {
    width: 100%;
    height: 10vh;
    
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: double 5px rgb(196, 9, 9);

    .navItem {
        display: flex;
        justify-content: space-evenly ;
        width: 30%;    
    }
    #firstTier {
        justify-content: flex-start;
        padding-left: 2rem;
        h1 {
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
        }
    }
    #secondTier {
        a {
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            color: black;
            &:visited {
                color: none;
            }
        }
    }
    #thirdTier {
        justify-content: flex-end;
        padding-right: 2rem;
        
    }
}